body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
}

pre {
    font-weight: bold;
    font-size: 25px;
}

table {
    margin-left: 5%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.20);
    color: white;
}

table,
tr,
td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

td {
    width: 100px;
    padding: 1%;
    transition: all 0.5s ease-in;
}

td:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}