.container {
    width: 1000px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.element {
    width: 200px;
    height: 200px;
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: all 0.8s ease-in-out;
}

img:hover {
    transform: scale(1.3);
    transition: all 0.8s ease-in-out;
}

@media (max-width: 479px) {
    .container {
        flex-direction: column;
        width: 300px;
    }
    .element {
        height: 100px;
    }
}

@media (min-width: 480px) and (max-width:550px) {
    .container {
        flex-flow: row wrap;
        width: 400px;
    }
    .element {
        height: 100px;
        width: 45%
    }
    .rotate {
        border-right: 3px solid transparent;
        border-radius: 50%;
        animation: rotation 8s linear infinite;
    }
}

@import "compass/css3";
.wrapper {
    position: relative;
    margin: 40px auto;
    background: white;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}