<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>Saruman</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>Avocato</h1>
        <img id="log2" src="../res/img/logo.png" alt="" />
    </header>
    <main>
        <section id="avocato" class="heros">
            <div class="avatar">
                <img src="../res/img/avocato.png" alt="" />
                <div>
                    <p>
                        <span>Nom :</span> General Avocato Mr. Whiskers (par Gary) Cat Guy (par Gary) Dad (par Little Cato) My Boyfriend (par Gary) Furry Fantasy Dad Guy (par Biskit) Daddy-O (par Little Cato) Pops (par Little Cato) Ventrexian Saleté (par
                        Ash)
                    </p>
                    <p><span>Race :</span> Ventrixien</p>
                    <p>
                        <span>Métier :</span> Commandant en second du Bounty Hunter Lord Commander
                    </p>
                </div>
            </div>

            <p class="history">
                Pré-série: Avocato était le meilleur soldat de tout Ventrexia, menant des batailles sans fin au nom de sa planète malgré sa haine de la guerre. Lorsque lui et ses hommes ont été pris en embuscade au milieu du champ de bataille, ils ont été sauvés par
                le Lord Commander et sa flotte, qui ont vaporisé l'ennemi en un instant. Bien qu'il ne lui fasse pas confiance, Avocato a accepté de rejoindre Lord Commander après lui avoir fait voir qu'il n'avait aucune raison de combattre la guerre
                de Ventrexia en plus d'être doué pour tuer et de promettre qu'ils pourraient créer un univers sans mort. Comme première commission, le Lord Commander lui ordonna de tuer le roi et la reine de Ventrexia. Avocato a abattu leur navire alors
                que le couple tentait de s'échapper. Le soldat ventrexian a trouvé un bébé parmi les décombres du navire et a décidé de l'adopter. Avant les événements de la série, Avocato était le commandant en second du Lord Commander, faisant tout
                ce qu'on lui disait. Sous les ordres du Lord Commander, il contribua à étendre l'empire de son maître en conquérant des planètes et en tuant des centaines de personnes. À un moment donné, Avocato a rencontré une version de Little Cato
                du futur, qui l'a averti de sa disparition aux mains du Lord Commander, le faisant remettre en question sa loyauté envers lui. Ses craintes vont se confirmer lorsque, trois ans avant les événements de la série, le Lord Commander décide
                de mettre tous ses généraux à l'épreuve en leur faisant tuer leur progéniture aînée. Avocato fut le seul à refuser et fut ainsi déchu de son rang. Lord Commander a pris en otage le fils d'Avocato , afin qu'il puisse forcer Avocato à faire
                son sale boulot à sa place. Saison 1 Lorsqu'il a été vu pour la première fois, Avocato, avec plusieurs autres chasseurs de primes, a retrouvé Mooncake jusqu'au Galaxy One . Les autres chasseurs de primes ont été éliminés lorsque Gary Goodspeed
                a ordonné à HUE de plier le navire. Seul Avocato est resté et a été fait prisonnier, après quoi Gary l'a forcé à jouer aux cartes avec lui. Alors qu'ils étaient d'abord hostiles envers Gary, les deux se sont liés lors d'une mission à Tera
                Con Prime pour traquer le chasseur de primes Terk . De Terk, Avocato a appris où son fils était retenu captif, mais cela s'est avéré être un piège, et il a été amené devant le Lord Commander. Il a réussi à s'échapper grâce à Gary, bien
                que Gary ait perdu un bras dans le processus, et les deux sont retournés au Galaxy One. Une fois que Gary a appris l'existence du fils d'Avocato, il a promis de l'aider à le libérer. Avocato a donc volontairement rejoint la Team Squad
                , qui s'est enrichie d'un membre supplémentaire en la personne de Quinn Ergon . Il l'a aidée, ainsi que Gary, à éliminer les soldats corrompus de l' Infinity Guard qui ouvraient une brèche dans Final Space depuis Infinity Guard Outpost-0439
                . Finalement, Avocato découvrit que son fils était détenu à Zetakron Alpha , la colonie pénitentiaire du Lord Commander. Bien qu'il sache que c'était probablement un autre piège, lui et Gary y sont allés et ont réussi à libérer Little
                Cato. La mission ne s'est cependant pas bien terminée pour Avocato; juste avant que le groupe ne s'échappe, Lord Commander a utilisé ses pouvoirs pour mettre une bombe sur le dos de Little Cato. Comme l'avait prédit le futur Little Cato,
                lorsque l'explosif a été découvert, Avocato s'est sacrifié pour protéger les autres de l'explosion et a été tué dans le processus. La dernière chose que l'on a vue de lui cette saison était son corps sans vie retombant à la surface de
                Zetakron Alpha. Saison 2 Dans " The Other Side ", alors que Little Cato a été piégé pendant 60 ans sur la Crimson Light en raison d'une anomalie temporelle, Little Cato s'est imaginé en train de parler à un hologramme de son père. Dans
                " The Remembered ", un jeune ver temporel renvoie la Team Squad 3 ans en arrière, à l'époque où Avocato était encore le commandant en second du Lord Commander. Le petit Cato a profité de l'occasion pour avertir son père que le Lord Commander
                le tuerait à l'avenir. Bien qu'il réussisse à le faire, cela ne change pas la chronologie et Little Cato est obligé de laisser derrière lui la version passée de son père. Après avoir rencontré Time Swap Sammy, Gary a conclu un marché pour
                sauver Avocato. La Crimson Light a voyagé dans le temps jusqu'au moment exact où Avocato a été tué et a récupéré son corps. En retour, Gary est resté sur Zetakron Alpha pendant plusieurs mois, jusqu'à ce qu'il ait rattrapé le présent,
                et que le reste de la Team Squad puisse le récupérer. A cette époque, Avocato avait récupéré, mais il souffrait d'amnésie totale. Dans « The Closer You Get », Avocato a retrouvé la mémoire. Les retrouvailles ont cependant été de courte
                durée lorsque le corps de Gary a été repris par Invictus . Le possédé Gary s'est battu avec Avocato jusqu'à ce qu'Invictus décide qu'Avocato était un hôte plus fort et l'a repris. Avocato est ainsi devenu une marionnette de l'entité maléfique,
                et a renié avec colère Little Cato avant de disparaître dans une flaque de vase noire. Avocato n'a pas réapparu jusqu'à l'épisode « The Sixth Key », où il avait pris un navire et poursuivi furieusement la Crimson Light pour tuer Gary en
                guise de vengeance pour avoir volé son fils. Le petit Cato a été forcé d'abattre le navire de son père pour protéger ses amis. Avocato ne serait cependant pas vaincu longtemps. Malgré la perte de son navire, Avocato, vraisemblablement
                avec le pouvoir d'Invictus, a réussi à atteindre l'espace intérieur et a affronté tout l'équipage du Crimson Light (y compris le Sheryl Goodspeed racheté ). Alors qu'Avocato commençait à étrangler son fils, Ash Graven , en s'inspirant
                de Nightfall, a utilisé ses pouvoirs dans une explosion massive qui a forcé Invictus à sortir du corps d'Avocato, le libérant finalement et retrouvant enfin Gary et son fils. Naturellement confus d'avoir tant manqué depuis sa mort et sa
                possession ultérieure, Avocato a pris place à la barre alors que l'équipage, dirigé par Gary, s'est échappé de l'espace intérieur avec l'aide de Bolo . Une fois libre, Gary a emmené l'équipage (Avocato inclus) pour suivre Bolo dans Final
                Space pour enfin sauver Quinn, pour être pris au dépourvu à l'arrivée soudaine d'Invictus. Saison 3 Dans l'épisode ... And Into The Fire , Avocato est vu aux côtés de l'équipage essayant de s'envoler d'Invictus après avoir sauvé Quinn
                . L'équipe de l'équipe est forcée d'abandonner le Crimson Light et de prendre la capsule de sauvetage car le navire a subi une quantité importante de dommages dus au pliage léger à travers un titan. L'équipe de l'équipe sort de la capsule
                de sauvetage pour se rendre compte qu'elle est coincée sur une planète déserte. Avocato et le reste de l'équipage concluent qu'ils doivent faire tout ce qu'il faut pour survivre et s'échapper de l'espace final. Avocato est vu plus tard
                dans l'épisode allant de Zombie Garys avec Gary (de la chronologie principale), Quinn et Tribore. Dans une tentative de se débarrasser des zombies, Avocato fait exploser les restes de la capsule de sauvetage avec un détonateur qu'il y
                avait installé plus tôt. Cependant, cela n'a fait que faire exploser les Zombie Garys encore plus près des quatre. Voyant l'équipe de l'équipe en danger, Mooncake a fustigé les Zombie Garys pour tenter de sauver le quatuor. Cela a réussi
                à attirer l'attention d'un autre Titan qui avait été sous l'emprise d' Invictus . Pendant le combat entre Bolo et l'autre titan, le premier a accidentellement frappé la planète, ce qui a fait tomber l'équipe de l'équipe à travers les fissures
                formées et s'est divisée en équipes de 2. Avocato dirige une équipe composée de Little Cato , Ash , Fox et Sheryl .dans une grotte où ils rencontrent un robot géant. Ils apprennent du robot que personne ne s'échappe de Final Space alors
                que la dimension vous empoisonne lentement. Le robot demande à l'équipe de le tuer, ce à quoi Ash se conforme. Quelques instants plus tard, le groupe est confronté à une armée de Zombie Garys qui ont été possédés par Invictus. Avocato
                est vu pour la dernière fois dans l'épisode regardant son fils lorsque Little Cato dit à son père qu'il l'aime. Dans l'épisode The Hidden Light , après qu'Avocato ait dit à Gary que lui et les autres sont en sécurité et qu'il n'a vu aucun
                signe de Mooncake , ils se dirigent vers un peu de brouillard et perdent la communication entre eux. Tribore informe alors le groupe qu'il doit les quitter car il doit célébrer une ancienne tradition dans son espèce appelée congé de paternité.
                Une fois qu'Avocato et son groupe ont dit au revoir aux deux, ils sont enlevés par une force inconnue. Cette force inconnue s'avère être les Arachnitectes qui ont enlevé l'équipe en pensant qu'ils ont été envoyés par Invictus. Une fois
                que la fraction de l'équipe de l'équipe explique qu'elle n'a pas été envoyée par l'entité cosmique, elle demande aux Arachnitectescomment ils ont réussi à survivre si longtemps. L' explication des Arachnitectes est toutefois écourtée lorsque
                le Lord Commander leur tend une embuscade. Après les avoir éliminés, Avocato tente de tuer le Lord Commander en lui tirant dessus. Le Lord Commander soumet facilement Avocato et rapproche l'équipe de lui. Il interroge l'équipe sur le sort
                de Mooncake auquel ils ne répondent pas. Avocato est obligé de regarder le Lord Commander étouffer Little Cato pour obtenir des réponses de sa part. Avocato est vu pour la première fois dans l'épisode " Le Ventrexian" suspendu à l'envers
                aux côtés de son fils et des autres membres de son groupe. Le Lord Commander commence à étouffer Little Cato dans l'espoir que cela amènera Avocato à parler de l'emplacement de Mooncake. Une fois qu'il se rend compte que blesser Little
                Cato ne servait à rien, il menace Avocato pour commencer à parler, sinon il obligerait le Ventrexian à raconter au petit Cato la première fois qu'ils se sont rencontrés. Le lord Commandant utilise ses capacités psychiques pour forcer Avocato
                à parler du souvenir qui amène les autres membres de l'équipe à apprendre comment il a trahi sa planète natale et a tué leur roi et leur reine. Une fois que le Lord Commander s'est rendu compte que le groupe disait la vérité sur le fait
                de ne pas savoir où se trouvait Mooncake, il a cessé de blesser Avocato et l'a libéré de son emprise psychique. L'épisode se termine avec le Lord Commander prenant le groupe à Invictus'repaire pour être possédé et servir l'entité cosmique.
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="gary.html">
                <li>Gary</li>
            </a>
            <a href="avocato.html">
                <li>Avocato</li>
            </a>
            <a href="littlecato.html">
                <li>Little Cato</li>
            </a>
            <a href="mooncake.html">
                <li>Moon Cake</li>
            </a>
            <a href="kvn.html">
                <li>KVN</li>
            </a>
        </ul>
    </footer>
</body>

</html>