<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>Azog</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>Azog</h1>
        <img id="log2" src="../res/img/logo.png" alt="" />
    </header>
    <main>
        <section id="azog">
            <div class="avatar">
                <img src="../res/img/Azog.png" alt="" />
                <div>
                    <p>Nom: Azog le Profanateur</p>
                    <p>Race : Orque</p>
                    <p>Métier : Chef des Orques</p>
                </div>
            </div>
            <p class="history">
                Azog, père de Bolg, est le chef des Orques de la Moria. En 2790 T.A., il tue Thrór et lui grave son nom sur le front ; c'est ce meurtre qui déclenche la guerre des Nains et des Orques dans les Monts Brumeux. Les Nains pourchassent leurs adversaires de
                Gundabad jusqu'à la Moria, où Azog dirige les principales troupes des Orques dans la bataille d'Azanulbizar. Il parvient à tuer Náin, mais la bataille tourne à son désavantage. Il tente de fuir, mais le jeune Dáin Pied-d'Acier le rattrape
                et le décapite (2799 T.A.). Dans la trilogie Le Hobbit de Peter Jackson, Azog est interprété par Manu Bennett. Il apparaît comme un orque blanc, chevauchant un warg de la même couleur. Durant la bataille d'Azanulbizar, il décapite Thrór,
                puis combat Thorin, mais ce dernier lui tranche le bras et son armée est mise en déroute. Cependant, il survit à la bataille et reçoit un bras prothétique. Cherchant à se venger des Nains et en particulier de Thorin, et obéissant aux ordres
                du Nécromancien, il envoie des orques à sa poursuite, puis prend lui-même la tête d'une expédition et se lance à ses trousses. La compagnie de Thorin, réfugiée dans des sapins, lui échappe grâce aux aigles. Azog est également le général
                des Orques durant la bataille des Cinq Armées, au lieu de Bolg dans le livre. Il tue Fíli à Ravenhill avant d'être tué par Thorin, non sans avoir mortellement blessé ce dernier.
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="sauron_Mouth.html">
                <li>Bouche de Sauron</li>
            </a>
            <a href="sarouman.html">
                <li>Sarouman</li>
            </a>
            <a href="sauron.html">
                <li>Sauron</li>
            </a>
            <a href="#azog">
                <li>Azog</li>
            </a>
            <a href="smaug.html">
                <li>Smaug</li>
            </a>
        </ul>
    </footer>
</body>

</html>