<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>Gary GoodSpeed</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>Gary GoodSpeed</h1>
        <img id="log2" src="../res/img/logo.png" alt="" />
    </header>
    <main>
        <section id="sm" class="heros">
            <div class="avatar">
                <img src="../res/img/gary.png" alt="" />
                <div>
                    <p> <span>Nom :</span> The Captain (autoproclamé) The Gary (par Lord Commander et Invictus) Thunder Bandit (nom de code) Star Dragon (nouveau nom de code) Mommy (par les enfants Dewinter) Jerry par (Quinn) Gerald (par Quinn et les SAMES)
                        Humanoïde trash (par Avocato) Primate (par Clarence) Generic Blonde Guy (par Ash) No-Good Thief (par Avocato/Invictus) Little Bastard (par Sheryl) Larry Tumbleweed (par Tribore) Harry Hoodseed (par Tribore) Leslie (par Tribore)
                        Barry (par Tribore) Le fou qui mourut mille fois (par Invictus)</p>
                    <p> <span>Race :</span> Humain</p>
                    <p> <span>Métier :</span> Capitaine</p>
                </div>
            </div>

            <p class="history">
                Gary Goodspeed est le fils de John Goodspeed , un capitaine de l' Infinity Guard décédé lors d'une mission visant à fermer une brèche dans Final Space lorsque Gary était enfant. Peu de temps après la mort de son père, Gary a été abandonné par sa mère,
                Sheryl Goodspeed , et contraint à une vie de crime. Des années plus tard, Gary, un adulte souffrant d'un retard de croissance émotionnel, s'est fait passer pour un soldat de l'Infinity Guard pour impressionner l'officier Quinn Ergon ,
                mais a accidentellement détruit 92 vaisseaux spatiaux (plus un restaurant mexicain), et a été condamné à une peine de 5 ans de prison sur le Galaxy One , où, sur son dernière année d'emprisonnement, rencontrerait et se lierait d'amitié
                avec un extraterrestre destructeur de planète nommé Mooncake, et le chasseur de primes ventrexian Avocato , qui le met ensuite dans un voyage qui changera sa vie pour percer le mystère de Final Space. En tant que chef de la Team Squad
                , il est le principal protagoniste de Final Space .
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="gary.html">
                <li>Gary</li>
            </a>
            <a href="avocato.html">
                <li>Avocato</li>
            </a>
            <a href="littlecato.html">
                <li>Little Cato</li>
            </a>
            <a href="mooncake.html">
                <li>Moon Cake</li>
            </a>
            <a href="kvn.html">
                <li>KVN</li>
            </a>
        </ul>
        <p>&copy; Copyright 2022 HTML</p>
    </footer>
</body>

</html>