<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>KVN</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>KVN</h1>
        <img id="log2" src="../res/img/logo.png" alt="" />
    </header>
    <main>
        <section id="kvn" class="heros">
            <div class="avatar">
                <img src="../res/img/kvn.png" alt="" />
                <div>
                    <p>Nom: KVN</p>
                    <p>Race : Robot</p>
                    <p>Métier : Compagnon d'évitement de la folie de l'espace profond </p>
                </div>
            </div>

            <p class="history">
                KVN a été affecté à Gary Goodspeed en tant que Deep Space Insanity Avoidance Companion lorsque ce dernier a été condamné à une peine de cinq ans de prison à bord du Galaxy One . Son travail consistait à tenir compagnie à Gary et à préserver sa santé mentale,
                puisque Gary passerait ces cinq années en tant que seul membre d'équipage humain du navire. Cependant, les bouffonneries de KVN ont immédiatement poussé Gary à développer une aversion sévère pour le robot, et cela n'a pas changé au cours
                des cinq années qu'ils ont passées ensemble. Gary exprime fréquemment de l'hostilité envers lui sur une base régulière. Pendant les cinq années suivantes, il a fait du temps de Gary dans le Galaxy One un enfer vivant, grâce à sa personnalité
                odieuse, lui valant pleinement la haine de Gary. Même HUE a admis au chapitre 7 n'avoir jamais aimé KVN, le considérant comme un jag-off. Malgré cela, KVN s'est parfois montré utile. Au chapitre 4 , lorsque l' Infinity Guard a pris le
                contrôle du Galaxy One et a retourné HUE contre Avocato et Quinn , KVN a pu restaurer HUE à la normale à l'aide d'une puce que Nightfall lui avait donnée plus tôt. Au chapitre 6 , KVN est venu en aide à Gary et Avocato sur Zetakron Alpha
                avec Mooncake , et a éliminé le Lord Commander . Au chapitre 9 , lui et trois autres KVN ont utilisé leurs KVN Mech Suits(que KVN avait tout le temps, mais jamais utilisé) pour combattre l'Infinity Guard corrompu.Au chapitre 10, KVN a
                été détruit alors qu'il défendait le Galaxy One contre les Lord Commanders Hives . Voir KVN se faire détruire a fait verser des larmes de joie à Gary. Dans la saison 2, en arrivant sur la planète de Clarence , il a été révélé que KVN avait
                survécu et y avait été amené, au grand dam de Gary. Il a également réussi à se réparer. Après la Toro Regata, KVN rejoint l' équipage du Crimson Light à la recherche des Clés Dimensionnelles .Tout au long de la saison 2, Gary est devenu
                moins hostile à KVN, et KVN a en fait développé un véritable lien avec Fox et Ash . Il a de nouveau eu plusieurs moments d'utilité, comme être le seul à pouvoir répondre aux énigmes de Septim dans « The Grand Surrender », et sortir le
                KVN maléfique final dans « The First Times They Met ». Dans " The Set Up ", il sacrifie volontairement son falanger, et donc sa santé mentale, pour sauver Fox (qui avait été blessé par Clarence).
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="gary.html">
                <li>Gary</li>
            </a>
            <a href="avocato.html">
                <li>Avocato</li>
            </a>
            <a href="littlecato.html">
                <li>Little Cato</li>
            </a>
            <a href="mooncake.html">
                <li>Moon Cake</li>
            </a>
            <a href="kvn.html">
                <li>KVN</li>
            </a>
        </ul>
    </footer>
</body>

</html>