<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>Little Cato</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>Little Cato</h1>
        <img id="log2" src="../res/img/logo.png" alt="">
    </header>
    <main>

        <section id="Little Cato" class="heros">
            <div class="avatar">
                <img src="../res/img/littlecato.png" alt="" />
                <div>
                    <p>
                        <span>Nom :</span> Small Fry Spider Cat (par Gary) Man Cat Hell Cat Little Avocato Washboy (par Clarence) Mr. Yumsters (par Ash) Stupid Little Ventrexian (par Fox)
                    </p>
                    <p> <span>Race :</span> Ventrixien</p>
                    <p> <span>Métier :</span> Prince de Ventrixia</p>
                </div>
            </div>


            <p class="history">
                Pré-série Little Cato est né du roi et de la reine de Ventrexia . Alors que le roi et la reine évacuaient suite à une attaque, leur navire fut abattu et détruit par Avocato, un général ventrexien, sous les ordres du Lord Commander . Le petit Cato a miraculeusement
                survécu à la destruction et a été retrouvé par Avocato peu de temps après. Rappelant son fils précédent, Avocato a juré de protéger l'enfant et l'a adopté. C'est alors que Lord Commander est arrivé, demandant ce qu'Avocato faisait avec
                l'enfant. Mentant à son maître, Avocato a dit qu'il avait trouvé le bébé, disant qu'il était son enfant maintenant. Lord Commander avertit alors Avocato que son enfant allait bientôt mourir. Lord Commander capture Little Cato Trois ans
                avant les événements de la saison 1 , le Lord Commander testa la loyauté de ses généraux, dont Avocato faisait partie, en leur ordonnant de tuer leurs premiers-nés. Avocato a été le seul à refuser. Le Lord Commander a ainsi dépouillé Avocato
                de son rang et en a fait un chasseur de primes. Il a également pris Little Cato en otage pour s'assurer qu'Avocato suivrait les instructions. Séparé de son père pendant des années, Little Cato était déterminé à retrouver son père. Saison
                1 Dans le " Chapitre 2 ", Avocato a découvert l'emplacement de Little Cato sur Tera Con Prime de Terk , et a tenté de libérer son fils, mais c'était un piège et Avocato a été capturé à la place. Après qu'Avocato et Gary Goodspeed se soient
                échappés, le Lord Commander fit transférer Little Cato dans sa prison sur Zetakron Alpha . Même dans cette nouvelle prison, Little Cato est resté provocateur envers le Lord Commander. Il a reçu une aide inattendue lorsqu'un mystérieux
                allié a introduit un ordinateur de poche dans sa cellule et l'a aidé à s'échapper afin qu'il puisse se rendre à l'émetteur de la prison et envoyer un appel de détresse à Avocato. Trop tard, Little Cato a découvert que son allié était en
                fait le Lord Commander, et il venait d'aider le tyran à tendre un piège à Avocato et Mooncake . Lord Commander a ensuite placé Little Cato sous contrôle mental, et quand Avocato et Gary se sont présentés sur Zetakron Alpha, il a fait attaquer
                Little Cato à son père. Avocato a pu briser le contrôle du Lord Commander, et ainsi père et fils ont été réunis. La joie a cependant été de courte durée lorsque, lors de leur fuite, Lord Commander a placé une bombe sur le dos de Little
                Cato, et Avocato a dû se sacrifier pour sauver les autres de l'explosion. Rongé par le chagrin, Little Cato, assisté de Gary, Mooncake et KVN , a bêtement tenté de venger son père en prenant un F71 Hawk et en attaquant un Heavy Incinerator
                avec. Ce n'est que grâce à Nightfall qu'ils ont survécu, mais Little Cato a été blessé et a eu besoin de soins médicaux. Quand il a appris que Nightfall venait du futur et que son vaisseau était une machine à voyager dans le temps, lui
                et KVN ont essayé de le voler pour remonter le temps et sauver Avocato. Au lieu de cela, ils ont activé le mécanisme d'autodestruction. Les deux ont été sauvés à temps, mais le navire a été détruit. Little Cato a participé à la bataille
                finale avec les forces du Lord Commander pour fermer une brèche dans l'espace final qui menaçait la Terre. Il s'est porté volontaire pour utiliser un faucon pour se frayer un chemin à travers les ruches du Lord Commander afin que Quinn
                Ergon puisse envoyer une bombe anti-matière à la brèche. Assisté de trois SAMES , Little Cato a réussi. Lorsque le navire de Tribore a été abattu, Little Cato a pris le commandement de la Résistance et les a menés dans une attaque contre
                le navire du Lord Commander . Il a réussi à monter à bord et a tué Viro , mais avant que Little Cato ne puisse tirer sur le Lord Commander et se venger, Gary a brisé leGalaxy One dans le vaisseau, là où Little Cato et Lord Commander se
                tenaient. Le petit Cato a été projeté hors du navire par l'explosion qui en a résulté et a été vu pour la dernière fois dériver dans l'espace. Saison 2 Dans " The Toro Regatta ", il a été révélé que Little Cato, comme Gary et KVN, avait
                été récupéré par Clarence , et était ainsi devenu sa propriété. Clarence a fait de Little Cato un lavoir. Ce travail plutôt dégradant ne serait cependant pas conservé longtemps, car Little Cato retrouverait bientôt Gary, HUE et le KVN
                reconstruit, ainsi que les enfants adoptifs de Clarence, Fox et Ash Graven . On peut noter qu'il avait un ressentiment particulièrement grand envers Fox, en raison d'une apparente guerre de cent ans que leur espèce avait eue il y a longtemps.
                Ensemble, ils participeront à la Toro Regatta , une course à la mort, au cours de laquelle ils aideront Clarence à voler le Nymerian Cube . Après avoir remporté la course, le groupe rencontrerait Bolo , qui leur a demandé de trouver les
                clés dimensionnelles pour le libérer. Rejoint par Nightfall et Mooncake, et avec un nouveau navire, le Crimson Light, l'équipage partit donc pour cette nouvelle mission. Pour le reste de la saison, Little Cato serait un membre essentiel
                de l'équipage du Crimson Light. Cependant, il a traversé sa juste part de traumatismes aux côtés de ses amis, notamment en étant piégé dans un fragment de temps pendant 60 ans (alors que le reste de ses amis n'ont été piégés que quelques
                minutes) et en remontant dans le temps pour sauver Avocato de son mort, seulement pour le perdre une deuxième fois aux mains d' Invictus , un acte qui a forcé Little Cato à tirer sur son propre père et à accepter que son père était parti,
                croyant qu'il l'avait tué. Après cela, Little Cato a tenté de suivre son propre chemin pendant un certain temps mais a été convaincu par Gary de revenir avec lui avec l'offre de l'adopter, une offre qu'il était plus qu'heureux d'accepter.
                Little Cato aiderait également Gary dans sa tentative de récupérer les clés volées à Clarence et était présent lorsque Gary l'a abandonné. Une fois que les clés ont été récupérées du navire de Todd Watson et que la mère de Gary, Sheryl,
                a finalement été emprisonnée, Little Cato est resté présent avec le reste de l'équipage alors qu'ils voyageaient pour enfin libérer Bolo. Cependant, leurs défis n'étaient pas encore terminés, car Avocato, toujours en vie et toujours possédé
                par Invictus, tenta de les arrêter. Grâce à Ash, il a cependant été libéré et retrouverait son fils après des mois de séparation, laissant Little Cato ravi d'avoir maintenant ses deux pères de retour dans sa vie.
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="gary.html">
                <li>Gary</li>
            </a>
            <a href="avocato.html">
                <li>Avocato</li>
            </a>
            <a href="littlecato.html">
                <li>Little Cato</li>
            </a>
            <a href="mooncake.html">
                <li>Moon Cake</li>
            </a>
            <a href="kvn.html">
                <li>KVN</li>
            </a>
        </ul>
        <p>&copy; Copyright 2022 HTML</p>
    </footer>
</body>

</html>