<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>Moon Cake</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>Moon Cake</h1>
        <img id="log2" src="../res/img/logo.png" alt="" />
    </header>
    <main>
        <section id="azog" class="heros">
            <div class="avatar">
                <img src="../res/img/mooncake.png" alt="" />
                <div>
                    <p>
                        Nom: Spécimen E-351 Little Buddy (par Gary) Planet Destroyer Planet Killer (par Avocato) The Key Dude Cake (par HUE) The Missing Piece (par les Arachnitects) Little Guy Homeslice (par Bolo) Booger Ball (par Kevin Van Newton)
                    </p>
                    <p>Race : Alien</p>
                    <p>Métier : Aucun</p>
                </div>
            </div>
            <p class="history">
                Mooncake a été créé plusieurs années avant les événements de la série lorsque John Goodspeed a utilisé une bombe anti-matière pour fermer une brèche vers Final Space. Dans les années qui ont suivi, Mooncake est devenu une cible pour le Lord Commander
                , qui souhaitait exploiter ses pouvoirs pour ouvrir une porte vers l'espace final. À un moment donné, Mooncake a été retrouvé par l'équipage du vaisseau spatial Scarlet Lance , mais le Lord Commander a attaqué ce navire pour se rendre
                à Mooncake, tuant tout l'équipage. Mooncake a finalement été fait prisonnier par le Lord Commander et amené dans son trésor Tera Con Prime , mais a été libéré par Gary Goodspeed, un voyageur dans le temps, qui a demandé à Mooncake d'aller
                le trouver. [3] Saison 1 Dans " Chapitre 1 ", Mooncake rencontre Gary, qui à l'époque est un prisonnier purgeant une peine de cinq ans sur le Galaxy One . Gary prend Mooncake à bord, contre les ordres de HUE , et grandit rapidement pour
                aimer le petit extraterrestre vert. Peu de temps après, le navire est attaqué par des chasseurs de primes ventrexiens à la recherche de Mooncake, mais ils sont tous vaincus à l'exception d' Avocato , qui rejoint à contrecœur Gary et l'avertit
                des véritables pouvoirs de Mooncake, mais Gary ne le croit pas. Avoir Mooncake à bord fait du Galaxy One une nouvelle cible pour le Lord Commander. Dans le « Chapitre 3 », Avocato et Gary décident de cacher Mooncake avec L'Ordre des Douze
                sur Yarno , mais découvrent trop tard que l'ordre travaille pour le Lord Commander. Mooncake se retrouve à Deathcropolis et combat toutes les autres créatures. Gary découvre ainsi que Mooncake est en effet aussi puissant qu'Avocato le
                prétend, mais assure à Mooncake que cela ne changera rien entre eux. Dans le « Chapitre 6 », Mooncake participe au sauvetage de Little Cato de Zetakron Alpha . Il élimine les gardes qui attaquent Gary, Little Cato et Avocato. Dans le "
                Chapitre 7 ", Nightfall révèle que dans le mauvais avenir d'où elle venait, Gary a été tué par le Lord Commander, après quoi Mooncake est devenu fou de chagrin et a détruit d'innombrables planètes, ouvrant accidentellement une faille vers
                Final Space et libérant les Titans . Elle essaie de tuer Mooncake pour empêcher que cela ne se produise, mais Gary la convainc de donner une autre chance à Mooncake. Dans le " Chapitre 9 ", Mooncake se rend sur Terre avec la Team Squad
                pour trouver une deuxième bombe anti-matière afin de fermer une autre brèche vers Final Space. Il joue un rôle important dans le sauvetage de Quinn Ergon lorsqu'elle est assommée sous l'eau. Dans le " Chapitre 10 ", alors qu'il défendait
                le Galaxy One contre les Hives , Mooncake est à nouveau capturé par le Lord Commander. Il amène Mooncake à bord de son navire , l'attache à une machine appelée le diviseur de dimension et force Mooncake à ouvrir davantage la deuxième brèche.
                Cela permet à un Titan d'atteindre et d'attirer toute la Terre dans l'espace final avant que Quinn ne ferme la brèche. Saison 2 Dans " The Toro Regatta ", Mooncake est sauvé du vaisseau du Lord Commander par Nightfall, mais le diviseur
                de dimension l'a vidé de ses pouvoirs. Il reste impuissant jusqu'à l'épisode « Les Arachnitectes ». Dans ce même épisode, il est révélé que la création de Mooncake a affaibli Final Space puisque Mooncake était fait de Final Space. Les
                Arachnitectes ont déclaré que cela provoquait un déséquilibre dans l'univers et affaiblissait les murs de l'Espace Final, et devaient ramener Mooncake d'où il venait pour sceller la déchirure. Juste à temps, les pouvoirs de Mooncake lui
                reviennent et il peut refermer la brèche lui-même. Gary convainc alors les Arachnitects de laisser Mooncake rester avec lui, et qu'ils viendront si ses pouvoirs sont à nouveau nécessaires pour fermer Final Space. Saison 3 Mooncake entre
                dans Final Space sur le Crimson Light avec le reste de l'équipage, mais est bientôt séparé d'eux quand Invictus lance son piège. Convaincu par Bolo que Gary et le reste de l'équipage sont morts, Mooncake accepte d'aider Bolo à tuer les
                Titans pour venger la "mort" de Gary, y compris l'ancien ami de Bolo, Oreskis. Cependant, lorsqu'il découvre que Gary est vivant, il quitte Bolo et rejoint la Team Squad sur le Galaxy Two , les aidant à sauver Ash, Avocato et Little Cato.
                Plus tard dans la série, Mooncake est utilisé pour charger le pont hyper-transdimensionnel pour faire sortir l'équipage de Final Space et réussit à le faire après que Quinn ait utilisé les instructions laissées par Nightfall pour le réparer.
                Cependant, juste au moment où l'équipage est sur le point de partir, Ash (maintenant complètement corrompu par Invictus) semble avoir suivi Gary, Avocato et Little Cato de retour du sanctuaire d'Invictus.. Elle utilise sa télékinésie améliorée
                pour empêcher le navire de se déplacer dans le portail et Mooncake, sortant du navire, la fait exploser avec son énergie pour la forcer à lâcher prise. Cependant, tout cela faisait partie du plan d'Ash et elle laisse partir le Galaxy Two,
                avant de finalement prendre possession de Mooncake avec ses pouvoirs. Alors que le Galaxy Two entre dans le portail, Ash rit de façon maniaque tout en tenant un Mooncake terrifié alors que les murs de Final Space s'effondrent autour d'eux
                et qu'Invictus est libéré. Mooncake est présumé mort après cela.
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="gary.html">
                <li>Gary</li>
            </a>
            <a href="avocato.html">
                <li>Avocato</li>
            </a>
            <a href="littlecato.html">
                <li>Little Cato</li>
            </a>
            <a href="mooncake.html">
                <li>Moon Cake</li>
            </a>
            <a href="kvn.html">
                <li>KVN</li>
            </a>
        </ul>
    </footer>
</body>

</html>