<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>Saruman</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>Sarouman</h1>
        <img id="log2" src="../res/img/logo.png" alt="">
    </header>
    <main>

        <section id="sarouman">
            <div class="avatar">
                <img src="../res/img/sarouman.png" alt="" />
                <div>
                    <p>
                        Nom: Saruman le Blanc, le Sage aux Multiples Couleurs le Créateur d'Anneaux Curumo, Curunír, Sharcoux (Sharkey)
                    </p>
                    <p>Race : Maiar</p>
                    <p>Métier : Mage Blanc</p>
                </div>
            </div>


            <p class="history">
                Les textes où l'histoire de Saruman avant la guerre de l'Anneau est décrite ont été rédigés après le Seigneur des anneaux. Sa vie est brièvement présentée dans l'appendice B du roman, puis dans les textes du Silmarillion et des Contes et légendes inachevés.
                Saruman est un Maia. Il est l'un des cinq Istari (les Mages), dépêchés en Terre du Milieu par les Valar vers l'an mille du Troisième Âge, lui-même étant envoyé par le Vala Aulë. Il est alors « Saruman le Blanc », chef des Istari. Il soutient
                initialement le Conseil Blanc dans ses actions contre la menace de Dol Guldur, mais succombe à la tentation de s'approprier l'Anneau unique, lui qui a étudié tous les textes concernant les Anneaux de Pouvoir. Dès leur départ du Valinor,
                Saruman jalouse Gandalf, d'autant plus quand il découvre que Gandalf possède un des trois anneaux des Elfes, offert par Círdan le Charpentier, à son arrivée sur la Terre du Milieu. Il ravale cependant sa jalousie et œuvre pendant de nombreuses
                années comme chef du Conseil Blanc, s'installant en Isengard, à l'extrême sud de la chaîne de Montagnes de Brume, en l'an 2759 du Troisième Âge. Néanmoins, fasciné par l'étude des Anneaux de Pouvoir, il constitue une proie idéale pour
                Sauron, qui utilise le palantír de Minas Morgul pour le corrompre et s'en faire un serviteur. Saruman commence à héberger secrètement des Orques et des Uruk-hai en Isengard. Il procède à de sinistres croisements entre des humains et des
                Orques, afin d'obtenir des espions plus discrets que les Orques, les semi-orques, humanoïdes reconnaissables à leur peau olivâtre et leur regard bigleux. Vers l'an 3000, il commence à envoyer ses agents dans la Comté, tout d'abord pour
                acheter de l'herbe à pipe, puis pour recueillir des informations et espionner les Hobbits, voyant que Gandalf s'intéresse de près à ce peuple.
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="sauron_Mouth.html">
                <li>Bouche de Sauron</li>
            </a>
            <a href="#sarouman">
                <li>Sarouman</li>
            </a>
            <a href="sauron.html">
                <li>Sauron</li>
            </a>
            <a href="azog.html">
                <li>Azog</li>
            </a>
            <a href="smaug.html">
                <li>Smaug</li>
            </a>
        </ul>
    </footer>
</body>

</html>