<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="icon" href="../res/img/icone.ico" />
    <title>Sauron</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>Sauron</h1>
        <img id="log2" src="../res/img/logo.png" alt="">
    </header>
    <main>

        <section id="sauron">
            <div class="avatar">
                <img src="../res/img/saurons.png" alt="" />
                <div>
                    <p>
                        Nom: Sauron, Mairon l’Admirable, Gorthaur, Annatar (« le Dispensateur »)1, Artano, Aulendil, le Nécromancien, Zigûr, « l’Œil qui voit tout », le Seigneur Ténébreux (Dark Lord), l'Ennemi, le Seigneur des loups-garous
                    </p>
                    <p>Race : Valinor</p>
                    <p>Métier : Mage Noir</p>
                </div>
            </div>


            <p class="history">
                Sauron est à l'origine un Maia au service d’Aulë, le Vala forgeron. Il est alors connu sous le nom de Mairon l’Admirable4. Corrompu par Morgoth (le Vala Melkor à l'origine), il devient son premier et son plus fidèle serviteur. Il est alors le gardien
                de la forteresse d’Angband. Après la première chute de Morgoth, qui est capturé et envoyé en prison en Valinor, Sauron parvient à échapper à l’armée des Valar et demeure en Terre du Milieu, préparant Angband pour le retour de son maître
                et, selon un texte tardif (divergeant de la version publiée dans le Silmarillion), crée les premiers Orques à partir d’Hommes capturés5 (dans le texte du Silmarillion, Melkor les crée à partir d'Elfes dénaturés). Au Premier Âge, Sauron
                dispose encore de tous ses pouvoirs de Maia : il peut changer de forme à volonté et a un grand pouvoir sur l'esprit des autres. Il est dépeint comme un personnage très beau et très séduisant, ce qui lui permet de tromper plus facilement
                les Elfes et les Hommes. Il rejoint son maître à Angband quand celui-ci revient de Valinor avec les Silmarils volés à Fëanor. Après la bataille de Dagor Bragollach qui voit la déroute du siège d’Angband par les Noldor, Sauron s’empare
                de la forteresse de Minas Tirith (à ne pas confondre avec Minas Tirith, anciennement Minas Anor, la capitale du Gondor au Troisième Âge), qui commande la haute vallée du Sirion. L’île de Tol Sirion, sur laquelle se dresse Minas Tirith,
                est renommée Tol-in-Gauroth, « l’île des Loups-Garous », et est commandée par Sauron. Quelques années plus tard, celui-ci, grâce à la trahison de Gorlim, anéantit les derniers résistants humains du Dorthonion, sauf Beren, le fils de Barahir.
                Il le retrouve quelques années plus tard, lorsque, en route vers Angband, Beren est fait prisonnier avec ses compagnons, dont le roi Elfe Finrod Felagund et emmené à Tol-in-Gaurhoth. Là, Sauron vainc Finrod dans un duel magique puis tue
                l’un après l’autre tous leurs compagnons. Beren est sauvé par l’intervention de Lúthien et du chien Huan, qui triomphe de Sauron, qui a pris la forme d'un loup-garou. Sauron s’enfuit et rejoint son maître.Après la défaite finale de Morgoth
                lors de la guerre de la Grande Colère, Sauron fait acte de contrition devant Eönwë, le Maia qui commandait l’armée des Valar venus assaillir Angband. Le repentir de Sauron semble sincère et il est prêt à faire pénitence de ses actes passés.
                Eönwë, obéissant aux ordres de Manwë (qui voulait juger Sauron pour ses crimes), ordonne à Sauron de se rendre en Valinor pour y recevoir la sentence des Valar. Mais, craignant leur colère, celui-ci préfère s'enfuir et retombe peu de temps
                après sous l’emprise du mal. L’Anneau unique. Sauron s’installe ensuite au Mordor, un pays cerné de montagnes qu’il transforme en une terre d’effroi et de ténèbres, et entame la construction de Barad-dûr, sa sombre et puissante forteresse.
                Prenant une belle apparence, il séduit les Elfes d’Eregion sous le nom d’Annatar (en quenya, « le Dispensateur »). Sous sa direction et ses conseils, les Elfes d'Eregion deviennent de remarquables forgerons et créent les Anneaux de Pouvoir,
                Sauron espérant avec ceux-ci dominer les Elfes, les Hommes et les Nains. Il forge en secret l’Anneau unique pour lui-même, en y infusant une grande partie de son pouvoir, ce qui lui permettra de dominer les autres anneaux de Pouvoir. Cependant,
                il ne prend pas part à la création des trois anneaux des Elfes, Narya, Nenya et Vilya, ce qui le pousse à les désirer plus que tout autres, car ils sont les plus puissants, hormis l’Unique. Vers la même période (vers 1600 S. Â., « l’année
                terrible ») s’achève la construction de Barad-dûr. Lorsque Sauron passe l’Unique à son doigt, l'Elfe Celebrimbor en est alerté et découvre sa trahison. Les elfes portant les Trois anneaux elfiques prennent peur et les cachent. Sauron,
                désirant s'en emparer, déclenche une guerre contre les elfes, qui aboutit 90 ans plus tard à la destruction de l’Eregion. Il récupère la majeure partie des Anneaux les plus puissants, avant d'en distribuer sept aux Nains et neuf aux Hommes
                (les hommes porteurs des anneaux deviendront les Nazgûl, les plus fidèles et terribles serviteurs de Sauron). Toutefois, il ne peut découvrir la cachette des Trois. Peu après la chute de l’Eregion, Sauron est mis en déroute par l'armée
                de Gil-galad, le Haut-Roi des Noldor, aidé par une armada des Hommes venus de Númenor. Sauron se révèle alors ouvertement, rassemblant autour de lui les Orques et les autres créatures de Morgoth. Après avoir pris le titre de Roi des Hommes,
                il subit la colère des Númenoréens : Ar-Pharazôn, le puissant roi de Númenor, mis au défi par les prétentions de Sauron, débarque en Terre du Milieu à la tête d’une grande armée pour le soumettre. Avec malice, Sauron se présente seul et
                désarmé devant le roi et semble capituler face à sa puissance. Capturé et emmené à Númenor, Sauron s’insinue dans les bonnes grâces du roi et profite de son orgueil et de son désir d’immortalité pour le persuader de lancer un assaut contre
                Valinor, lui faisant croire qu'il est de taille. Sauron pense ainsi se débarrasser de la présence de Númenor en Terre du Milieu, car il sait bien qu’une attaque contre les Valar est pure folie ; de plus, il espère qu’un tel acte d’ingratitude
                contre eux détournera les Valar du devenir de la Terre du Milieu, et qu’ainsi il pourra asseoir sa domination sans interférence extérieure. Lorsque l’armada d’Ar-Pharazôn débarque sur les plages de Valinor, Ilúvatar, père des dieux, intervient
                à la demande de Manwë et provoque un cataclysme qui engloutit l’île de Númenor au fond de l’océan, et sépare à tout jamais Valinor de la Terre des mortels. Le corps matériel de Sauron est détruit lors de la submersion de l'île, mais son
                esprit retourne après un certain laps de temps en Mordor, désormais incapable de revêtir une belle apparence pour séduire les Hommes et les Elfes. Après avoir réuni ses forces, Sauron attaque le royaume du Gondor, fondé par les exilés
                Númenóréens, mais il est finalement défait à la bataille de Dagorlad par les armées de la Dernière Alliance des Elfes et des Hommes. S’ensuit le siège de Barad-dûr, qui dure sept ans et qui se termine lors d’une sortie en masse des forces
                ténébreuses, menées par Sauron lui-même. Ensemble, Gil-galad et Elendil parviennent à l’acculer mais meurent dans l’action, et c’est Isildur, le fils d’Elendil, qui l’anéantit en lui coupant le doigt qui portait l’Anneau unique.Sauron,
                qui avait mis dans l’Anneau unique une grande partie de ses pouvoirs de Maia, les perd lorsque Isildur s'empare de l'anneau. Très affaibli et incapable de retrouver une apparence physique, il se réfugie dans l’Est de la Terre du Milieu.
                Il réapparaît incognito vers 1000 T. Â. à Dol Guldur, au sud de la Forêt Noire. Alors connu sous le nom de « Nécromancien », ce n’est que plus d’un millénaire plus tard que Gandalf découvre qu’il ne s’agit pas, comme on le croyait, d’un
                simple Nazgûl. Entre-temps, Sauron s’emploie à harceler les royaumes libres des Hommes et envoie dans le nord le chef des Nazgûl, le Roi-Sorcier d’Angmar, anéantir les royaumes des Dúnedain du Nord, tâche qu’il mène à bien en détruisant
                l’Arthedain en 1974 T. Â. Sauron envoie ensuite ses Nazgûl au sud pour s’emparer de Minas Ithil, ce qui lui permet d’entrer en possession d’un palantír. Lorsque le Conseil Blanc attaque Dol Guldur, sur l’avis de Gandalf et avec l’accord
                de Saruman, Sauron quitte son refuge dans une retraite préparée depuis longtemps et retourne en Mordor, qu'il fortifie. Il en profite pour rebâtir sa forteresse de Barad-dûr (en 2953) et se révèle ouvertement. Durant la fin du Troisième
                Âge, toutes les actions de Sauron tendent vers un seul but : récupérer l’Anneau unique, qui lui permettrait de recouvrer l’intégralité de ses pouvoirs. Peu de temps après la découverte de l’Unique par Bilbon Sacquet, Sauron en est informé
                de la bouche de Gollum, capturé et torturé en Mordor. Il lance alors ses Nazgûl à la recherche du nouveau porteur de l’Anneau, Frodon Sacquet tandis que celui-ci entame son long périple avec la Communauté de l'Anneau pour détruire l’objet
                maléfique. Sauron, après avoir reconstitué ses armées et redoutant d'être attaqué, précipite la guerre contre les peuples libres de la Terre du Milieu, en assaillant avec ses troupes le Gondor et en ordonnant à Saruman, devenu son allié,
                d’envahir simultanément le Rohan. Il est près de réussir, mais est finalement mis en échec par les actions de Gandalf et d'Aragorn, ce dernier se proclamant alors ouvertement comme l’héritier d’Isildur, chef des Dúnedain et prétendant
                au trône d’Arnor et de Gondor. Sauron, désireux d’écraser ses ennemis au plus tôt, envoie avec empressement une immense armée forte de 20 000 orques6 épaulée de ses alliés Haradrim pour assiéger et prendre Minas Tirith. Après un début
                de siège victorieux, il est mis en échec par les forces combinées du roi Théoden, venues du Rohan et celles d'Aragorn, arrivant du sud à la tête des soldats du Lebennin, et essuie une défaite cinglante lors de la bataille des Champs du
                Pelennor, qui voit la victoire inespérée des peuples de l'Ouest et la mort du Capitaine de Sauron, le chef des Nazgûl. Cependant, Sauron dispose encore en Mordor de grandes forces en réserve, bien supérieures en nombre à celles des peuples
                libres. Sa victoire finale ne semble être qu’une question de temps, d’autant plus que s’il parvenait à entrer en possession de l’Anneau Unique, rien ne pourrait plus lui résister. Aragorn décide alors de créer une diversion pour permettre
                à Frodon d'atteindre plus facilement le mont Orodruin et détruire l’Anneau. Sauron, qui voit arriver la maigre armée que les peuples de l’Ouest ont réunie contre lui (environ sept mille hommes), en conclut qu’Aragorn possède l’Anneau et
                se croit invincible pour ainsi venir le défier à l’entrée de son royaume. Le Seigneur Ténébreux mobilise alors toutes ses forces, dans le seul but d’anéantir ses ennemis. L’affrontement a lieu au nord du Mordor, à la Porte Noire. Pendant
                ce temps, Frodon réussit à traverser au sud un Mordor quasiment désert, profitant du fait que les troupes de Sauron convergent toutes vers le nord et, avec l’aide involontaire de Gollum, accomplit finalement sa quête : il détruit l’Unique
                dans la fournaise de la Montagne du Destin, au moment même où l’armée des Capitaines de l’Ouest est sur le point d’être submergée par l'armée de Mordor. La destruction de l’Anneau a des conséquences immédiates sur Sauron, qui était lié
                à l'anneau intrinsèquement. Son corps matériel est définitivement détruit, ainsi que Barad-dûr, qui s'écroule lorsque l'Anneau unique disparaît. Les Nazgûl périssent dans les flammes et les armées du Mordor, privées de leurs chefs pour
                les guider, se dispersent dans la confusion. L'esprit de Sauron « survit », mais il perd tous ses pouvoirs et en est réduit à hanter le Monde sous la forme d’un esprit faible et invisible, incapable de faire quoi que ce soit, sinon de
                ruminer sa défaite en attendant la fin du monde, où son maître Morgoth reviendra.
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="sauron_Mouth.html">
                <li>Bouche de Sauron</li>
            </a>
            <a href="sarouman.html">
                <li>Sarouman</li>
            </a>
            <a href="#sauron">
                <li>Sauron</li>
            </a>
            <a href="azog.html">
                <li>Azog</li>
            </a>
            <a href="smaug.html">
                <li>Smaug</li>
            </a>
        </ul>
    </footer>
</body>

</html>