<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="res/img/icone.ico" />
    <title>La bouche de Sauron</title>
</head>

<body>
    <header>
        <a href="../index.html"><img id="log1" src="../res/img/logo.png" alt="" /></a>
        <h1>La Bouche de Sauron</h1>
        <img id="log2" src="res/img/logo.png" alt="" />
    </header>
    <main>
        <section id="sm">
            <div class="avatar">
                <img src="res/img/sauron.png" alt="" />
                <div>
                    <p>Nom: la bouche de Sauron</p>
                    <p>Race : Númenóréen Noir</p>
                    <p>Métier : Mage Noir</p>
                </div>
            </div>

            <p class="history">
                Histoire : La Bouche de Sauron était à l'origine un Númenóréen noir, par conséquent un Homme, et il descendait de ceux qui vénéraient Sauron à Númenor et qui s'enfuirent au pays d'Harad avant la submersion de l'île par Eru Ilúvatar. Il se mit au service
                de Sauron et apprit la sorcellerie. Rapidement, il grandit dans son estime et devint le lieutenant de la Tour Sombre. C'était bien un homme perfide, qui utilisait mensonges et tromperies. Il avait trahi ses semblables pour se mettre au
                service du mal. Son véritable nom est inconnu1. Lors de la guerre de l'Anneau, la Bouche de Sauron servit de messager et de héraut et on l'envoya à la Porte Noire traiter avec Aragorn et les autres soldats du Gondor. La Bouche de Sauron
                mentit en faisant croire que Frodon était prisonnier à Barad-dur et comme preuve, le messager lui montra la cotte de mithril de Frodon que des Orques avaient dérobées durant l'emprisonnement du Hobbit à la Tour de Cirith Ungol. Ceci est
                un mensonge car Frodon s'échappe de la Tour grâce à Sam Gamegie et l'Ennemi n'a pas le temps de mettre la main sur le précieux Hobbit. La Bouche de Sauron promit la libération de Frodon mais donna des conditions : le royaume de Gondor
                et tout l'Est du fleuve Auduin appartiendrait à Sauron et les royaumes de Rohan, la Lothlorien et d'autres royaumes devront prêter allégeance à Sauron et payer un tribut. Si Sauron avait vaincu les armées des peuples libres, la Bouche
                de Sauron aurait régné sur l'Ouest vaincu depuis Isengard, y remplaçant Saroumane2. Aragorn et Gandalf n'acceptent pas les conditions sous prétexte qu'ils ne veulent pas traiter avec Sauron, car il est perfide et traitre et qu'il ne remplirait
                pas sa promesse. La Bouche de Sauron se met en colère mais effrayé par les soldats du Gondor, elle rejoint les armées du Mordor. On peut penser que la Bouche de Sauron est morte durant la chute de Sauron.
            </p>
        </section>
    </main>
    <footer>
        <ul>
            <a href="#ms">
                <li>Bouche de Sauron</li>
            </a>
            <a href="views/sarouman.html">
                <li>Sarouman</li>
            </a>
            <a href="views/sauron.html">
                <li>Sauron</li>
            </a>
            <a href="views/azog.html">
                <li>Azog</li>
            </a>
            <a href="views/smaug.html">
                <li>Smaug</li>
            </a>
        </ul>
    </footer>
</body>

</html>